@import "~bootstrap";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    main {
        flex: 1 0 auto;

        .input-group {
            .input-group-text {
                &.required {
                    &:after {
                        content: '*';
                        display: block;
                        font-weight: bold;
                        color: #EE0000;
                    }
                }
            }
        }

        .details-trigger {
            position: relative;

            .details-container {
                visibility: hidden;
                display: inline-block;
                position: absolute;
                z-index: 1;
                top: 102%;
                left: -3.5rem;
                width: 14rem;
            }

            &:hover {
                .details-container {
                    visibility: visible;
                }
            }
        }

        .footer {
            flex-shrink: 0;
        }
    }
}
